.floating-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    padding: 10px 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.floating-chat-btn img {
    width: 50px;
    height: 50px;
}

.floating-chat-btn:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.chat-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* translucent dark bg */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.close-chat-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
}